@media (orientation: landscape) {
.mobileNavigation {
display: none;
}

}
 


@media (orientation: portrait) {


}

@media (prefers-reduced-motion){

}

html {
    font-size: 100%;

}

.mobileNavigation {
    box-sizing: border-box;
    background-color: red;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.mobileNavTab {
    display: inherit;
    box-sizing: border-box;
    background-color: blue;
}

.mobileNavCat {
    position: relative;
    display: inline-block;
    float: left;
    overflow: hidden;
    
}

.mobileNavButton {
    border: none;
    background-color: purple;
    color: white;
}

.mobileNavPages {
    display: none;
    position: absolute;
    z-index: 1;
}

a.mobileNavPages {
    display: block;
    color: green;

}

.mobileNavCat:hover .mobileNavPages {
    display: block;
    
}