@media (orientation: landscape) {
.mobileNavigation {
display: none;
}

}
 


@media (orientation: portrait) {


}

@media (prefers-reduced-motion){

}

html {
    font-size: 100%;

}

.mobileNavTabs {
    display: inherit;
}

.mobileNavButton {

}

.mobileNavPages {

}

