/* HEX

22223B (muted dark purple)
4A4E69 (muted medium purple)
2D3142 (muted dark gray blue)
252323 (muted dark brown)


*/

/* 

BG
64x64

https://files.strawcdn.com/straw/cqkbumzSKByCQSCUNVRa.png

ICON
32x32
https://file.garden/Z9NesCn881IguicE/GIF_monitorcolorsquare.gif

*/



@media (orientation: landscape) {
    .mainContent {
        grid-template-areas:
            "about top links"
            "about welcome welcome"
            ". . .";
        grid-template-rows: 1fr min-content 1fr;
        grid-template-columns: 1fr 2fr 1fr;
        column-gap: 1em;
        row-gap: 1em;
    }
    
    .about img {
        width: 30%;
        height: auto;
        max-width: 100%;
        margin-top: 1em;
    }

}
 


@media (orientation: portrait) {

    .mainContent {
        grid-template-areas:
            "top top top"
            "about welcome welcome"
            ". links links";
        grid-template-rows: 1fr min-content 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1em;
        row-gap: 1em;
    }
    
    .about img {
        width: 75%;
        height: auto;
        max-width: 100%;
        margin-top: 1em;
    }

}

@media (prefers-reduced-motion){
    
    .top {
        background-image: url("https://file.garden/Z9NesCn881IguicE/GIF_statuetears_still.gif");
    }

}

html {
    font-size: 1em;
    font-family: "Anonymous Pro";
    background-color: black;
    background-image: url("https://file.garden/Z9NesCn881IguicE/PNG_64_darkmonotile.png");
    background-repeat: repeat repeat;

}

p {
    margin: 0px;
}

.mainContent {
    display: grid;
    width: 100%;

}

.top {
    box-sizing: border-box;
    width: 100%;
    min-height: 5rem;
    grid-area: top;
    font-family: "Geo";
    text-align: center;
    background-color: black;
    color: white;
    font-size: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-image: url("https://file.garden/Z9NesCn881IguicE/GIF_statuetears_motion.gif");
}

.top p {
    vertical-align: center;
}


.welcome {
    box-sizing: border-box;
    border: 3px solid white;
    color: white;
    background-color: black;
    grid-area: welcome;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.welcome header, .about header, .links header {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 3px solid white;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-family:"Kelly Slab";
}

.about {
    box-sizing: border-box;
    border: 3px solid white;
    color: white;
    background-color: black;
    grid-area: about;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    height: 100%;
}

.about img {
    box-sizing: border-box;
    aspect-ratio: 1/1;
    
    
}


#bio {
    font-size: .9rem;
    margin-top: .2rem;
    
}


.links {
    box-sizing: border-box;
    border: 3px solid white;
    color: white;
    background-color: black;
    grid-area: links;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

ul {
    list-style-type: lower-roman;
    list-style-position: inside;
    text-align: center;
    color: white;
}

div.links {
    box-sizing: border-box;
}